/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
 
// These CSS rules attach the XBL bindings to the various UI elements in the
// wizard, allowing for some fancy richlistitem formatting.

.topProtocol {
  -moz-binding: url("chrome://instantbird/content/accountWizard.xml#topProtocol");
}

.existingAccount {
  -moz-binding: url("chrome://instantbird/content/accountWizard.xml#existingAccount");
}

.newAccount {
  -moz-binding: url("chrome://instantbird/content/accountWizard.xml#newAccount");
}

richlistitem[checked="false"] .showChecked,
richlistitem[checked="true"] .hideChecked,
.hiddenSource
{
  display: none;
}
